
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Un compte utilisateur à été détruit</h1>
    <p><b><%=@user.username.capitalize%></b> à quitté le site. OH NON.
    </p>
    <p>
    </p>
    <p>Bisous</p>
  </body>
</html>