
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Un nouvel utilisateur à été créé</h1>
    <p><b><%=@user.username.capitalize%></b> à rejoins le site avec l'adresse suivante : <strong><%=@user.email%></strong>. Rendez-vous sur forest admin pour plus de détails.
    </p>
    <p>
    </p>
    <p>Bisous</p>
  </body>
</html>