Bienvenue sur UrbEmp <%= @user.username %></h1>
-----------------------------------------------
 Tu t'es connecté avec succès sur notre site. Yoohoo !
Tu peux commencer par ajouter une boutique en appuyant sur le + violet en haut à droite ;)
Pour te connecter sur le site, utilise le lien suivant <%= @login %>.

Merci d'avoir rejoins notre aventure, à très vite.

Paul