<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur Pintiq <%= @user.username %></h1>
    <p>
      Tu t'es connecté avec succès sur notre site. Yoohoo !
    </p>
    <p> Tu peux commencer par ajouter une boutique en appuyant sur le + violet en haut à droite ;)
    </p>
    <p>
      Pour te connecter sur le site, utilise le lien suivant <%= @login %>.
    </p>
    <p>Merci d'avoir rejoins notre aventure, à très vite.</p>
    <p>Paul, de l'équipe Pintiq</p>
  </body>
</html>