<%= render 'layouts/navbar'%>


    <button class="tablink" onclick="openPage('Users', this, '#686de0','white','3px solid #474787')" id="defaultOpen">Utilisateurs <i class="fa fa-user"></i></button>
    <button class="tablink" onclick="openPage('Shops', this, '#6ab04c','white','3px solid #218c74')" >Boutiques <i class="fa fa-flag"></i></i></button>
    <button class="tablink" onclick="openPage('Admins', this, '#f0932b','white','3px solid #cd6133')">Admins <i class="fa fa-bug"></i></button>

    <div id="Users" class="tabcontent">
        <h3>Users</h3>
        <p>Home is where the heart is..</p>
    </div>

    <div id="Shops" class="tabcontent">
        <%@places.reverse.each do |shop|%>
            <div class="wrap-shop-admin">
                
                <h3 class="admin-item-name"> <%=shop.name%></h3>
                <div class="admin-item-hide" >
                    <p><%=shop.address%></p>
                    <p>Proposé par : <%= shop.creator.username %></p>
                </div>
                
            </div>
            <hr>
        <% end %>
    </div>

    <div id="Admins" class="tabcontent">
        <h3>Admins</h3>
        <p>Get in touch, or swing by for a cup of coffee.</p>
    </div>


<script>

document.getElementById("defaultOpen").click();

</script>