<style>
/* The device with borders */
.smartphone {

     position: relative;
    width: 360px;
    height: auto;
    margin: auto;
    border: 16px black solid;
    border-top-width: 50px;
    border-bottom-width: 55px;
    border-radius: 36px;
    margin-top: 48px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 360px;
  height: 640px;
  background: white;
}
</style>
<%= render 'layouts/navbar'%>


<div class="smartphone">
  <div class="content">
    <iframe src="/" style="width:100%;border:none;height:100%" />
  </div>
</div>