//= require leaflet
//= require leaflet.map
/* ----------------------------------------------------------------- */
// Cree la map 
let mymap = L.map('mapid').setView([51.505, -0.09], 13);

let layer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
  attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  maxZoom: 18,
  transparent: true,
  id: 'mapbox.streets',
  accessToken: 'pk.eyJ1IjoiYmZyYWlraW4iLCJhIjoiY2podWxwc21pMG5udjNqdDZpZGluaGhxeSJ9.WaMLYylJhk6ULiaGSWNuAA',
}).addTo(mymap);
/* -------------------------------------------------------------------   */

// musée du 1er call ajax
c = document.createElement('button');
$(c).appendTo($('body'))
  .click(function() {
    bound = mymap.getBounds(); 
    $.ajax({url: "/", type: 'POST', data: 'Nlat=' + bound.getNorthEast().lat + "&Nlong=" + bound.getNorthWest().lng + "&Slat=" + bound.getSouthEast().lat + "&Slong=" + bound.getSouthWest().lng  , dataType: 'JSON', body: 'caca', complete: ( function(data) {
      let place;
      //    for (let local of data.responseJSON.caca) {
      place = new L.latLng(bound.getNorthEast().lat, bound.getNorthWest().lng);
      let myIcon = new L.icon({ iconUrl: '//app/assets/images/Dogepic.png' , iconSize: [38, 40],  iconAnchor: [22, 94] });
      let marker = new L.Marker(place, {icon: myIcon, autoPan: true}).addTo(mymap);
      marker.addTo(mymap);
      mymap.setView(place, 15 ,{pan: {animate: true}});
      //  };
      //   map.setCenter({lat: data.responseJSON.caca[0].longitude, lng: data.responseJSON.caca[0].latitude });
    })
    });})
