$main-color:rgba(102, 51, 153,1);
$main-color-opacity:rgba(102, 51, 153,0.8);
/*******************************/
/* VERSION PC DE LA NAVBAR */
/*******************************/
.navbar {
    overflow: hidden;
    background-color: $main-color-opacity;  
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10000;
    display: inline-block;
    text-align: center;
    ul{
        margin:0;
    }
    li{
        display: inline;
    }
     a {
        display:inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px 14px;
        text-decoration: none;
        font-size: 18px;
        position: relative;
        /* ANIMATION UNDER LINK NAVBAR */
         &:hover {
          color: orange;
        }
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: orange;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }

      }
      
      a.active {
        background-color: #4CAF50;
        color: white;
      }
      .icon {
        display: block;
      }
      
}

/*******************************/
/* VERSION MOBILE DE LA NAVBAR */
/*******************************/

.navbar-mobile{
    overflow: hidden;
    background-color: $main-color-opacity;  
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index:10000;
    display: none;
    z-index:10000;
    text-align: center;
    

    ul{
        margin:0;
    }
    li{
        display: inline;
    }
     a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      text-decoration: none;
      font-size: 21px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 4px;
      padding-left: 4px;


      }
       a:hover {
       color: darkorange;;
      }
      a.active {
        
        color: white;
      }
      .icon {
        display: block;
      }
      i{
          font-size: 28px;
      }
  }
/*******************************/
/* MEDIA QUERIES */
/*******************************/
  @media screen and (min-width: 0px) and (max-width: 800px) {
    .navbar-mobile { display: inline-block!important; }  
    .navbar { display: none!important; }  
  }
  @media screen and (min-width: 801px) and (max-width: 801px) {
    .navbar-mobile { display: none!important; }  /* Cache sur écran au deli de 801 px */
  }
  
 
  
  
  
  
  
  

