.tags{
    width: auto;
    display: -webkit-inline-box;
    margin-bottom: 5px;
    margin-right: 3px;
    background-color: rgba(102, 51, 153,0.3);
    font-size: 13px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-left: 2px solid rebeccapurple;
    color: #2b2a2a;
    padding-left: 5px;
}
.distance{
    width: 15%;
    height: 30px;
    font-style: italic;
    font-size: 14px;
    color: darkgray;
    float: right;
    padding-bottom: 10px;
}
