.tags{
    width: auto;
    display: -webkit-inline-box;
    border:1px solid rebeccapurple;
    margin: 10px;
    padding:10px;
}
.distance{
    width: 15%;
    height: 30px;
    font-style: italic;
    font-size: 14px;
    color: darkgray;
    float: right;
    padding-bottom: 10px;

}
