.tags{
    width: auto;
    display: -webkit-inline-box;
    //border:1px solid red;
    
    p{
        margin:0;
        padding:10px;
    }
}
#distance{
    //background-color: aquamarine;
    width: 15%;
    height: 30px;
    margin-left: 80%;

}
