.page{
    background-image: url("photos/boutique-clothes.jpg");
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.user_form{
    display: inline-block;
    margin-left: 40%;
    margin-top: 100px;
    padding: 5px;
    text-align: center;
    padding: 100px;
    background-color: white;
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.29);
    border-radius: 5px;

    // Bouton retour accueil
    .btn-back{
        padding-top: 2%;

    }
}
h2{
    font-family: Lato; 
}
body{
    font-family: Merriweather;
}

    // inputs
input[type=email] {
}
input[type=password] {
}
input[type=submit] {
    border: none;
    font-size: 18px;
    font-weight: normal;
    border-radius: 4px;
    color: white;
    background-color: rgba(102, 51, 153, 0.8);
    height: 40px;
}
