/*******************************/
        /* LINKS */
/*******************************/
#infobulle{
    z-index: 2;
     right: 80px;
     position: fixed;
     margin-top: 40px;
     background-color: white;
     border-radius: 5px;
     color: black;
     opacity: 0.9;
     border: none;
     max-height: 150px;
     padding: 15px;
     max-width:300px;
     font-size:18px;
     margin-right:10px;
 }
 @media screen and (min-width: 801px) {
     #infobulle{ 
         margin-top: 90px;
      }  
}
.cc-revoke, .cc-window{
    z-index:9999999!important;
}
/*******************************/
        /* LINKS */
/*******************************/
a{
    text-decoration:none;
    color:orange;
    margin-top:3px;
    font-size:20px;
}
.fa-angle-right{
    float: right;
    margin-right: 8%;
    margin-left: -8%;
    font-size: 18px!important;
}
.disabled{
    cursor: not-allowed;
    opacity:0.5;
}
/*******************************/
        /* LOADER */
/*******************************/


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 1500;
    border: 3px solid transparent;
    border-top-color: #3498db;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    border-radius: 50%;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;

}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    border-radius: 50%;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;

}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

/*******************************/
        /* ALERTES */
/*******************************/
#notice_wrapper{
    background-color: rgba(39,174,96 ,0.8);
    position: absolute;
    top: 0;
    z-index: 100000;
    text-align: center;
    width: 100%;
    font-size: 20px;
    p{
      padding: 17px;
      text-align: center;
      color:white;
    }
  
  }
  #alert_wrapper{
    background-color: rgba(183,28,28 ,0.8);
    position: absolute;
    top: 0;
    z-index: 100000;
    text-align: center;
    width: 100%;
    font-size: 20px;

    p{
      padding: 17px;
      text-align: center;
      color:white;
    }
  
  }
/*******************************/
        /* BOUTONS */
/*******************************/
$main-color:rgba(102, 51, 153,1);
/* Bouton en haut à gauche + pour ajouter une boutique */
.add {
    height: 50px;
    width: 50px;
    background-color:$main-color ;
    border-radius: 50%;
    z-index: 3;
    right: 15px;
    position: fixed;
    margin-top: 50px;
    opacity:0.7;
    border:none;
    i{
        text-align: center;
        font-size: 40px;
        color:white;
        margin-top:4px;
        margin-left: 1px;
    }
    @media screen and (min-width: 0px) and (min-width: 800px) {
        margin-top:100px;   
      }
  }
  /* Bouton en haut à gauche pour ajouter une position */
.add-position {
    height: 50px;
    width: 50px;
    background-color:$main-color ;
    border-radius: 50%;
    z-index: 3;
    right: 80px;
    position: fixed;
    margin-top: 50px;
    opacity:0.9;
    border:none;
    i{
        text-align: center;
        font-size: 40px;
        color:white;
        margin-top:4px;
        margin-left: 1px;
    }
    @media screen and (min-width: 0px) and (min-width: 800px) {
        margin-top:100px;   
      }
  }

#find{
    width: 30%;
}
/*Fermer toutes les modales*/
.close-modal{
    float: right;
    top: 10px;
    font-size: 25px;
    padding-right: 10px;
    position: relative;
    @media screen and (min-width: 801px) {
        top: 55px;
      }
    &:hover{
        color:orange;
        transition: all 0.3s;
       
    }
    &:active{
        color:orange;
        transition: all 0.3s;
    }
    &:focus{
        color:orange;
        transition: all 0.3s;
    }
}


/* Bouton zoom sur carte */
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: none!important;
    background-clip: padding-box;
}
/* Button Submit */
input[type=submit] {
    border: none;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 4px;
    color: white;
    background-color: #00b894;
    height: 40px;
    margin-bottom: 10px;
}
/* Bouton des shared links de devise */
.connect{
    border: none;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 4px;
    color: white;
    background-color: #0984e3;
    height: 40px;
    width:80%;
    text-align: center;
    margin-top:-30px;
    a{
        text-decoration: none;
        color:white;
    }
}

/* Boutons modifier  */
.button-orange {

    border: none;
    border-radius: 4px;
    font-family: Lato-light;
    color: white;
    background-color: #e67e22;
    height: 40px;
    margin-bottom: 10px;
    padding: .3em 2em .20em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);box-shadow: 0 1px 2px rgba(0,0,0,.2);
}




/* Boutons supprimer  */
.button-red {
    border: none;
    border-radius: 4px;
    font-family: Lato-light;
    color: white;
    background-color: #c0392b;
    height: 40px;
    padding: .3em 2em .20em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3); box-shadow: 0 1px 2px rgba(0,0,0,.2);
    margin-left:10px;
}


/* Bouton ajouter boutique */
.button-green {
    border: none;
    font-family: Lato-light;
    border-radius: 4px;
    color: white;
    background-color: #00b894;
    height: 40px;
    padding: .3em 1em .30em;
    margin-bottom: 10px;
}
/* bouton retour sur edit*/
.button-back {
    border: none;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 4px;
    color: white;
    background-color: #e67e22;
    height: 40px;
    padding: .7em 11em .50em;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3); box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

/* Boutons annuler / ajouter */
.add_delete_div{
    margin-top:80px;
    z-index: 3;
    right: 33%;
    position: fixed;
    font-size: 15px;
    .validate-position{
        padding:10px;
        background-color: #00b894;
        color:white;
        border-radius: 5px;
        font-size: 16px;
        border:none;
    
    }
    .cancel-position{
        padding:10px;
        background-color: rgb(185, 9, 9);
        color:white;
        border-radius: 5px;
        font-size:16px;
        border:none;
    }
}
@media screen and (min-width: 801px) {
    .validate-position{
        padding:15px;
        font-size: 19px;
    
    }
    .cancel-position{
        padding:15px;
        font-size: 16px;

    }
    .add_delete_div{
        right:45%;
    }
  }
  /* Bouton i'm here */
  .imhere{
    display: inline-block;
    padding: 4px;
    font-weight: lighter;
    border-radius: 4px;
    color: white;
    background-color: #2980b9;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 30%;
    margin-left: 20px;
    border: none;
    font-size: 20px;
    font-weight: lighter;
    &:active{
        -webkit-box-shadow: inset -2px -2px 26px 0px rgba(0,0,0,0.6);
        -moz-box-shadow: inset -2px -2px 26px 0px rgba(0,0,0,0.6);
        box-shadow: inset -2px -2px 26px 0px rgba(0,0,0,0.6);
        transition:all 0.1s;
    }
}
  /*******************************/
        /* MODALS */
/*******************************/
#modal-add-shop{
    position: fixed;
    background-color: white;
    border-radius: 10px;
    margin-top: 115px;
    margin-left: 4px;
    max-width: 100%;
    min-width: 98%;
    z-index: 5;
    -webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.36);
    box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.36);
    color:rgba(47, 18, 76, 0.9);
    display: block;
    padding-top: 30px;
    text-align: center;
    height:auto;
    
    .close-modal{
        top: -20px!important;
        
    }
    
}

    textarea{
        height: 60px;
        border: none;
        border-width:1px;  
        border-bottom-style:ridge;
        border-color: $main-color;
        width:80%;
        margin-bottom: 20px;
        line-height: 4;
    }

@media screen and (min-width: 801px) {
    #modal-add-shop { 
        min-width:800px!important;
        margin-left: 20%;
        margin-top: 17%;
        height: auto;
     }  
}


/****** VIEWSHOP *****/

/* The side navigation menu */
.sidenav {
    margin-top: 60px;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -17px;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav h1 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {margin-top: 0px;}
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media screen and (max-height: 800px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/****** MENU DEROULANT USER ******/
.user-menu
{
    width:100%;
    height:100%;
    background-color:rgba(47, 18, 76, 0.8);
    z-index:5;
    top:0;
    position: fixed;
    color:white;
    
    a{
        position: relative;
        text-decoration: none;
        width:100%;
        display:block;
        padding-top: 30px;
        text-align: center;

    }
    .profile-pic{
        border-radius:50%;
        height: 80px;
        width:80px;
        margin-top:15px;
        margin-left:10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
    }
    h2{
        float: right;
        font-size: 18px;
        position: relative;
        margin-right: 20%;
    }
       

}
@media screen and (min-width: 801px) {
    .profile-pic{ 
        margin-top: 70px!important;
     }  
     .user-menu h2{
        margin-top: 70px;
        margin-right: 45%;
     }
  }

/*******************************/
        /* Inputs */
/*******************************/
input{
    height: 25px;
    border: none;
    border-width:1px;  
    border-bottom-style:ridge;
    border-color: $main-color;
    width:80%;
    margin-bottom: 20px;
}

// Supprime le border highlight
*:focus {
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0.8;
    font-size: 12px;
    font-style: oblique;
    margin-bottom: 10px;

  }
 
/*******************************/
        /* TITRE */
/*******************************/

h1, h2, h3, h4, h5{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}
/*******************************/
        /* HR LIGNES */
/*******************************/
hr.style13{
    width: 70%;
    border: 0; 
  height: 1px; 
  opacity:0.6;
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 31%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 66%, rgba(255,255,255,0.8) 72%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 31%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 59%,rgba(255,255,255,1) 66%,rgba(255,255,255,0.8) 72%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 31%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 59%,rgba(255,255,255,1) 66%,rgba(255,255,255,0.8) 72%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
hr.style14 { 
  border: 0; 
  height: 1px; 
  opacity:0.6;
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 31%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 66%, rgba(255,255,255,0.8) 72%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 31%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 59%,rgba(255,255,255,1) 66%,rgba(255,255,255,0.8) 72%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 31%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 59%,rgba(255,255,255,1) 66%,rgba(255,255,255,0.8) 72%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}