/*******************************/
        /* LINKS */
/*******************************/
a{
    text-decoration:none;
    color:orange;
    margin-top:3px;
}
/*******************************/
        /* ALERTES */
/*******************************/
#notice_wrapper{
    background-color: rgba(39,174,96 ,0.8);
    position: absolute;
    top: 0;
    z-index: 100000;
    text-align: center;
    width: 100%;
    p{
      padding: 17px;
      text-align: center;
      color:white;
    }
  
  }
  #alert_wrapper{
    background-color: rgba(183,28,28 ,0.8);
    position: absolute;
    top: 0;
    z-index: 100000;
    text-align: center;
    width: 100%;
    p{
      padding: 17px;
      text-align: center;
      color:white;
    }
  
  }
/*******************************/
        /* BOUTONS */
/*******************************/
$main-color:rgba(102, 51, 153,1);
/* Bouton en haut à gauche + pour ajouter une boutique */
.add {
    height: 50px;
    width: 50px;
    background-color:$main-color ;
    border-radius: 50%;
    z-index: 3;
    right: 15px;
    position: fixed;
    margin-top: 50px;
    opacity:0.7;
    border:none;
    i{
        text-align: center;
        font-size: 40px;
        color:white;
        margin-top:4px;
        margin-left: 1px;
    }
    @media screen and (min-width: 0px) and (min-width: 800px) {
        margin-top:100px;   
      }
  }
  /* Bouton en haut à gauche pour ajouter une position */
.add-position {
    height: 50px;
    width: 50px;
    background-color:$main-color ;
    border-radius: 50%;
    z-index: 3;
    right: 80px;
    position: fixed;
    margin-top: 50px;
    opacity:0.9;
    border:none;
    i{
        text-align: center;
        font-size: 40px;
        color:white;
        margin-top:4px;
        margin-left: 1px;
    }
    @media screen and (min-width: 0px) and (min-width: 800px) {
        margin-top:100px;   
      }
  }

#find{
    width: 30%;
}
/*Fermer toutes les modales*/
.close-modal{
    float: right;
    top: 10px;
    font-size: 25px;
    padding-right: 10px;
    position: relative;
    @media screen and (min-width: 801px) {
        top: 55px;
      }
    &:hover{
        color:orange;
        transition: all 0.3s;
       
    }
    &:active{
        color:orange;
        transition: all 0.3s;
    }
    &:focus{
        color:orange;
        transition: all 0.3s;
    }
}


/* Bouton zoom sur carte */
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: none!important;
    background-clip: padding-box;
}
/* Button Submit */
input[type=submit] {
    border: none;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 4px;
    color: white;
    background-color: #00b894;
    height: 40px;
    margin-bottom: 10px;
}
/* Bouton des shared links de devise */
.connect{
    border: none;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 4px;
    color: white;
    background-color: #0984e3;
    height: 40px;
    width:80%;
    text-align: center;
    margin-top:-30px;
    a{
        text-decoration: none;
        color:white;
    }
}

/* Boutons modifier  */
.button-orange {
color: #fef4e9;
border: solid 1px #da7c0c;
background: -moz-linear-gradient(top, #faa51a, #f47a20);display: inline-block;
vertical-align: baseline;
margin: 0 2px;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 14px/100% Arial, Helvetica, sans-serif;
padding: .5em 2em .55em;
text-shadow: 0 1px 1px rgba(0,0,0,.3);border-radius: .5em;box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button-orange:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* Boutons supprimer  */
.button-red {
    color: #faddde;
    border: solid 1px #980c10;
    background: -moz-linear-gradient(top, #ed1c24, #aa1317);display: inline-block;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);border-radius: .5em;box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button-red:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* Bouton ajouter boutique */
.button-green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: -moz-linear-gradient(top, #7db72f, #4e7d0e);display: inline-block;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border-radius: .5em;box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button-green:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Boutons annuler / ajouter */
.add_delete_div{
    margin-top:80px;
    z-index: 3;
    right: 33%;
    position: fixed;
    font-size: 15px;
    .validate-position{
        padding:10px;
        background-color: #00b894;
        color:white;
        border-radius: 5px;
        font-size: 16px;
    
    }
    .cancel-position{
        padding:10px;
        background-color: rgb(185, 9, 9);
        color:white;
        border-radius: 5px;
    }
}
@media screen and (min-width: 801px) {
    .validate-position{
        padding:15px;
        font-size: 19px;
    
    }
    .cancel-position{
        padding:15px;
        font-size: 16px;

    }
    .add_delete_div{
        right:45%;
    }
  }
  /* Bouton i'm here */
  .imhere{
    display: inline-block;
    padding: 4px;
    font-weight: lighter;
    border-radius: 4px;
    color: white;
    background-color: red;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 30%;
    margin-left: 20px;
    border: none;
    font-size: 20px;
    font-weight: lighter;
    &:active{
        -webkit-box-shadow: inset -2px -2px 26px 0px rgba(0,0,0,0.6);
        -moz-box-shadow: inset -2px -2px 26px 0px rgba(0,0,0,0.6);
        box-shadow: inset -2px -2px 26px 0px rgba(0,0,0,0.6);
        transition:all 0.1s;
    }
}
  /*******************************/
        /* MODALS */
/*******************************/
#modal-add-shop{
    position: fixed;
    background-color: white;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 4px;
    max-width: 100%;
    min-width: 98%;
    z-index: 5;
    -webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.36);
    box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.36);
    color:rgba(47, 18, 76, 0.9);
    display: block;
    padding-top: 30px;
    text-align: center;
    height:auto;
    .close-modal{
        top: -20px!important;
        
    }
    
}

    textarea{
        height: 60px;
        border: none;
        border-width:1px;  
        border-bottom-style:ridge;
        border-color: $main-color;
        width:80%;
        margin-bottom: 20px;
        line-height: 4;
    }

@media screen and (min-width: 801px) {
    #modal-add-shop { 
        min-width:800px!important;
        margin-left: 20%;
        margin-top: 17%;
        height: auto;
     }  
}

// AJOUTER TAGS //
    .control {
        width: 15px!important;
        padding-top: 4px;
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .control_indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: #e6e6e6;
        border: 0px solid #000000;
    }
    .control:hover input ~ .control_indicator,
    .control input:focus ~ 
    .control input:checked ~ .control_indicator {
    }
    .control:hover input:not([disabled]):checked ~ .control_indicator,
    .control input:checked:focus ~ .control_indicator {
        background: $main-color;
    }
    .control input:disabled ~ .control_indicator {
        background: #e6e6e6;
        opacity: 0.6;
        pointer-events: none;
    }
    .control_indicator:after {
        box-sizing: unset;
        content: '';
        position: absolute;
        display: none;
    }
    .control input:checked ~ .control_indicator:after {
        display: block;
    }
    .control-checkbox .control_indicator:after {
        left: 8px;
        top: 4px;
        width: 3px;
        height: 8px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }        

    
///////////////////////////////////////////////
/****** VIEWSHOP *****/

#modal-view-shop{
    position: fixed;
    background-color: white;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 4px;
    max-width: 100%;
    min-width: 98%;
    z-index: 5;
    -webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.36);
    box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.36);
    color:rgba(47, 18, 76, 0.9);
    display: block;
    padding-top: 30px;
    text-align: center;
    height:auto;
    .close-view-shop{
        top: -20px!important;
        
    }
    
}

    textarea{
        height: 60px;
        border: none;
        border-width:1px;  
        border-bottom-style:ridge;
        border-color: $main-color;
        width:80%;
        margin-bottom: 20px;
        line-height: 4;
    }

@media screen and (min-width: 801px) {
    #modal-view-shop { 
        min-width:800px!important;
        margin-left: 20%;
        margin-top: 17%;
        height: auto;
     }  
  }



/****** MENU DEROULANT USER ******/
.user-menu
{
    width:100%;
    height:100%;
    background-color:rgba(47, 18, 76, 0.9);
    z-index:5;
    top:0;
    position: fixed;
    color:white;
    
    a{
        position: relative;
        text-decoration: none;
        width:100%;
        display:block;
        padding-top: 30px;
        text-align: center;

    }
    .profile-pic{
        border-radius:50%;
        height: 80px;
        width:80px;
        margin-top:15px;
        margin-left:10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
    }
    h2{
        float: right;
        font-size: 18px;
        position: relative;
        margin-right: 20%;
    }
       

}
@media screen and (min-width: 801px) {
    .profile-pic{ 
        margin-top: 70px!important;
     }  
     .user-menu h2{
        margin-top: 70px;
        margin-right: 45%;
     }
  }

/*******************************/
        /* Inputs */
/*******************************/
input{
    height: 25px;
    border: none;
    border-width:1px;  
    border-bottom-style:ridge;
    border-color: $main-color;
    width:80%;
    margin-bottom: 20px;
}

// Supprime le border highlight
*:focus {
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0.8;
    font-size: 12px;
    font-style: oblique;
    margin-bottom: 10px;

  }
 
/*******************************/
        /* TITRE */
/*******************************/

h1, h2, h3, h4, h5{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}
/*******************************/
        /* HR LIGNES */
/*******************************/
hr.style13{
    width: 70%;
    border: 0; 
  height: 1px; 
  opacity:0.6;
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 31%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 66%, rgba(255,255,255,0.8) 72%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 31%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 59%,rgba(255,255,255,1) 66%,rgba(255,255,255,0.8) 72%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 31%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 59%,rgba(255,255,255,1) 66%,rgba(255,255,255,0.8) 72%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
hr.style14 { 
  border: 0; 
  height: 1px; 
  opacity:0.6;
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 31%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 66%, rgba(255,255,255,0.8) 72%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 31%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 59%,rgba(255,255,255,1) 66%,rgba(255,255,255,0.8) 72%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 31%,rgba(255,255,255,1) 37%,rgba(255,255,255,1) 44%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 59%,rgba(255,255,255,1) 66%,rgba(255,255,255,0.8) 72%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}