/*******************************/
        /* BOUTONS */
/*******************************/
$main-color:rgba(102, 51, 153,1);
/* Bouton en haut à gauche + pour ajouter une boutique */
.add {
    height: 50px;
    width: 50px;
    background-color:$main-color ;
    border-radius: 50%;
    z-index: 10000;
    right: 15px;
    position: fixed;
    margin-top: 50px;
    i{
        text-align: center;
        font-size: 40px;
        color:white;
        margin-top:4px;
        margin-left: 1px;
    }
    @media screen and (min-width: 0px) and (min-width: 800px) {
        margin-top:100px;   
      }
  }
.add_places{
    padding:5px;
}
/* Button Submit */
input[type=submit] {
    border: none;
    font-size: 18px;
    font-weight: normal;
    border-radius: 4px;
    color: white;
    background-color: rgba(102, 51, 153, 0.8);
    height: 40px;
}
  /*******************************/
        /* MODALS */
/*******************************/
#modal-add-shop{
    position: fixed;
    background-color: white;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 4px;
    height: 250px;
    max-width: 100%;
    min-width: 98%;
    z-index: 10000;
    -webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.36);
    box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.36);
    
}
@media screen and (min-width: 801px) {
    #modal-add-shop { 
        min-width:800px!important;
        margin-left: 20%;
        margin-top: 17%;
        height: 300px;
     }  
  }
/*******************************/
        /* Inputs */
/*******************************/
input[type=email] {
    border: none;
    border-width:1px;  
    border-bottom-style:ridge;
    border-color: rgba(102, 51, 153, 0.8);
}


input[type=password] {
    border: none;
    border-width:1px;  
    border-bottom-style:ridge;
    border-color: rgba(102, 51, 153, 0.8);
}
// Supprime le border highlight
*:focus {
    outline: none;
}

/*******************************/
        /* TITRE */
/*******************************/

h2{
}



