
.page{
    height: 100%; 
    width: 100%;
   position: fixed;
   background: rgba(103,8,135,1);
    background: -moz-linear-gradient(left, rgba(103,8,135,1) 0%, rgba(191,15,245,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(103,8,135,1)), color-stop(100%, rgba(191,15,245,1)));
    background: -webkit-linear-gradient(left, rgba(103,8,135,1) 0%, rgba(191,15,245,1) 100%);
    background: -o-linear-gradient(left, rgba(103,8,135,1) 0%, rgba(191,15,245,1) 100%);
    background: -ms-linear-gradient(left, rgba(103,8,135,1) 0%, rgba(191,15,245,1) 100%);
    background: linear-gradient(to right, rgba(103,8,135,1) 0%, rgba(191,15,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#670887', endColorstr='#bf0ff5', GradientType=1 );
}

  .page img {
    position: absolute;   
    min-width: 100%;
    min-height: 100%;
  }

  .remember_me{
      input{
          width: 20px;
          height:13px;
      }
      
  }
  /* DIV qui englobe les formulaire sign in et sign up */
.form_connection{
    display: inline-block;
    position: fixed;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.29);
    border-radius: 3px;
    padding-bottom: 60px!important;
    background-color:rgba(255, 255, 255, 1);
    color:#535c68;
    margin-top: 50px;
    width: 40%;
    margin-left: 30%;
    h2{
        margin-bottom: -10px;
    }
    h4{
        padding-bottom:30px;
    }

   
    
}
@media screen and (min-width: 0px) and (max-width: 800px) {
    .form_connection{ 
        
        width:auto;
        padding: 0;
        padding-bottom: 20px!important;
        margin-left: 3%;
        width: 95%;
    }

        
    


  }
