// Place all the styles related to the Map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*/


#input {

  display: flex;
  list-style: none;

}

li {
  margin-left: 10px;
}
#mapid{
width:100%;
height:800px;
margin-top: -20px;
position: relative;
z-index:1;

}
.leaflet-top .leaflet-control {
  margin-top: 100px!important;
  margin-left:20px;
  position:fixed;
}
/*******************************/
/* MEDIA QUERIES */
/*******************************/
@media screen and (min-width: 0px) and (max-width: 800px) {
  #mapid { margin-top:-20px; }  /* show it on small screens */
  .leaflet-top .leaflet-control {
    margin-top:40px!important;
  }
}

