// Place all the styles related to the Map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*/

/* CSS DE LA MAP */
#input {
  display: flex;
  list-style: none;
}

li {
  margin-left: 10px;
}
#mapid{
width:100%;
height:106%;
margin-top: -20px;
position: relative;
z-index:1;

}
.leaflet-top .leaflet-control {
  margin-top: 100px!important;
  margin-left:20px;
  position:fixed;
}
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
  display: none;
}
/*******************************/
/* MEDIA QUERIES */
/*******************************/
@media screen and (min-width: 0px) and (max-width: 800px) {
  #mapid { margin-top:-20px; }  /* show it on small screens */
  .leaflet-top .leaflet-control {
    margin-top:40px!important;
  }
}


