<%= render 'layouts/navbar'%>

<% if user_signed_in? %>
  <button class="add" onclick="toggleModal()"><i class="fa fa-plus"></i></button>
  <div class="add_delete_div">
    <button class="validate-position">Ajouter</button>
    <button class="cancel-position">Annuler</button>
  </div>

<%else%>
<%end%>

<%= render 'layouts/modale'%>

<div id='mapid'></div>

<%= javascript_include_tag "map" %>
<%= javascript_include_tag "place" %>

