<%= render 'layouts/navbar'%>

<% if user_signed_in? %>
  <button class="add" onclick="toggleModal()"><i class="fa fa-plus"></i></button>
  <button class="add-position"><i class="fa fa-location-arrow"></i></button>
<%else%>
<%end%>

<%= render 'layouts/modale'%>

<div id='mapid'></div>

<%= javascript_include_tag "map" %>
<%= javascript_include_tag "place" %>

