<footer>	
    <div class="container">
        <div class="row">
            <p><b>Projet de la Team Knackis</b></p>
            <p>Remerciements à <a href="https://www.thehackingproject.org/"><b>The Hacking Project</b></a></p>
        </div>
        <div class="row">  
        </div>
        <div class="row">
                <p><b>Liens</b></p>
                <a href="#">Contact</a> <br>
                <a href="#">A propos</a>
        </div>
        <div class="row">
            <p><b>Newsletter</b></p>
            <form>                 
                <div class="mailer">
                    <input class="input" type="text" name="email" placeholder="email@example.com">
                </div>
                    <button name="button" id="subscribe">S'inscrire</button>
            </form>
        </div>
    </div>
    <div>
        <p id='copyright'>Team Knackis © 2018 | Made with <i class="fa fa-heart-o" aria-hidden="true"></i></p>
    </div>
</footer>