<footer>	
    <div class="container">

        <div class="row">
            <h4> Projet de la Team Knackis</h4>
            <p>on fera une description plus tard <b>Hein Paulo ?</b></p>
        </div>

        <div class="row">
            <h4> Liens</h4>
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
        </div>

        <div class="row">
            <h4> Newsletter</h4>
            <form>
                <div class="mailer">
                    <input class="input" type="text" name="email" placeholder="email@example.com">
                    <span class="effect1-line"></span>
                </div>
                <div class="mailer">
                    <!-- Button -->
                    <button class="button" onclick="UserMailer.with(user: @user).user_mailer.deliver_now">S'inscrire
                    </button>	
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <p id='copyright'>Team Knackis © 2018 | Made with <i class="fa fa-heart-o" aria-hidden="true"></i></p>
    </div>
</footer>