<footer>	
    <div class="container">

        <div class="row">
            <h4> Projet de la Team Knackis</h4>
            <p>on fera une description plus tard <b>Hein Paulo ?</b></p>
        </div>

        <div class="row">
            <h4> Liens</h4>
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
        </div>

        <div class="row">
            <h4> Newsletter</h4>
            <form>
                <div class="mailer">
                    <input class="input" type="text" name="email" placeholder="email@example.com">
                    <span class="effect1-line"></span>
                </div>
                <div class="mailer">
                    <!-- Button -->
                    <button class="button" onclick="UserMailer.with(user: @user).user_mailer.deliver_now">S'inscrire
                    </button>	
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <p id='copyright'>Team Knackis © 2018 | Made with <i class="fa fa-heart-o" aria-hidden="true"></i></p>
    </div>
        
</footer>
    
    
    
    
    
    <!--  <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
		<div class="flex-w p-b-90">
			<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
				<h4 class="s-text12 p-b-30">
					AH !
				</h4>

				<div>
					<p class="s-text7 w-size27">
						Des questions ? Envoyez nous une lettre ou un pigeon voyageur à :<br>
                         "Mashat, <b>5 rue des chatons tout mignons</b>, 75015, Paris"
					</p>

					<div class="flex-m p-t-30">
						<a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
						<a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
					</div>
				</div>
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
					<h4 class="s-text12 p-b-30">
					Liens
				</h4>
				<ul>
					<li class="p-b-9">
						<a href="/" class="s-text7">
							Accueil
						</a>
					</li>
					
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
			</div>

			<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
			</div>

			<div class="newletter">
				<h4 class="s-text12 p-b-30">
					Newsletter
				</h4>

				<form>
					<div class="effect1 w-size9">
						<input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
						<span class="effect1-line"></span>
					</div>

					<div class="mailer">
						<!-- Button 
						<button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" onclick="UserMailer.with(user: @user).user_mailer.deliver_now">S'inscrire
						</button>	
						<!--<button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" action="" method=post> S'inscrire
						</button>
					</div>
				</form>
			</div>
		</div>

		<div class="icons">
			<a href="#">
				<%= image_tag("photos/jul.jpg", :alt => "IMG-BLOG", :class => "h-size2")%>
			</a>
			<a href="#">
				<%= image_tag("photos/jul.jpg", :alt => "IMG-BLOG", :class => "h-size2")%>
			</a>
			<a href="#">
				<%= image_tag("photos/jul.jpg", :alt => "IMG-BLOG", :class => "h-size2")%>
			</a>
			
			<div class="copyright">
				Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
			</div>
		</div>
	</footer>

    -->