<div class="navbar" id="navbar">

  <li><a href="#home">PROFIL <i class="fa fa-user"></i></a>
  <li><a href="#news">CARTE <i class="fa fa-map"></i></a>
  <li><a href="#contact">LISTE <i class="fa fa-list"></i></a>
  <li><a href="#about">PARAMÈTRES <i class="fa fa-cog"></i></a>

</div>

<div class="navbar-mobile" id="navbar">
  
  <li><a href="#home"><i class="fa fa-user"></i></a>
  <li><a href="#news"><i class="fa fa-map"></i></a>
  <li><a href="#contact"><i class="fa fa-list"></i></a>
  <li><a href="#about"><i class="fa fa-cog"></i></a>

</div>
<style>

</style>