<div class="navbar" id="navbar">

  <li><a href="#home">Profil</a>
  <li><a href="#news">Map</a>
  <li><a href="#contact">Liste</a>
  <li><a href="#about">Paramètres <i class="fa fa-plus-circle"></i></a>

</div>

<div class="navbar-mobile" id="navbar">
  
  <li><a href="#home"><i class="fa fa-user"></i></a>
  <li><a href="#news"><i class="fa fa-map"></i></a>
  <li><a href="#contact"><i class="fa fa-list"></i></a>
  <li><a href="#about"><i class="fa fa-cog"></i></a>

</div>
