<div class="user-menu" id="settings-user" style="display:none" >
        <h2 style="text-align:center;font-size:60px; float: none;margin-right:0%;margin-bottom:-10px;"><i class="fa fa-cog"></i></h2>
        
    

     <a>Settings 1</a>
      <hr class="style13">
      <a>Settings 2</a>
      <hr class="style13">
      
      
    </ul>
  </div>